html, body {
      height: 100%;
      margin: 0;
}



body {
      background-image: url("background_main.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

.container {
      padding: 60px;
}

.card {
      background: gray;
      border-radius: 12px;
      padding: 30px;
      margin_bottom: 40px;
      max-width: 600px;
}
      
    
